<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <ion-item>
    <ion-label color="primary">Number</ion-label>
    <ion-input placeholder="Number" [(ngModel)]="numberToCall"></ion-input>
  </ion-item>
  <button ion-item (click)="callFriend()" round outline color="secondary">CALL</button>

  <div class="row" style="text-align: center;">
    <span id="status" style="text-align: center">Registration Ongoing...</span>
  </div>

  <div class="row">
    <div id="remote" style="width:100%;"></div>
    <div id="mini"></div>
  </div>
</ion-content>