<!--
  Generated template for the CallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>call</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="row">
    <div id="cremote"></div>
    <div id="cmini"></div>
    <div id="hangup"  (click)="hangUp()">
        <ion-icon name="ios-call"></ion-icon>
    </div>
  </div>
</ion-content>