page-call {
    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        #cremote {
            background-color: black;
            position: fixed;
            width: 100%;
            height: calc(100% - 56px);
        } // display: flex;
        // align-items: flex-end;
        // justify-content: flex-end;
        // height: !important;
        #cmini {
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-right: 4vw;
            margin-bottom: 4vw;
            video {
                border: 1px solid hsla(178, 100%, 50%, 0.38);
                border-radius: 0.5rem;
            }
        }
        #hangup {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 0;
            padding: 0.6rem 0 !important;
            font-size: 2.7rem;
            color: #fff;
            background-color: #f53d3d;
            ion-icon {
                transform: rotate(135deg);
            }
        }
    }
}